@model List<ExpenseManagement.Schema.ExpenseResponse>

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">KYC Documents</h3>
            <div class="nk-block-des text-soft">
                <p>You have total <span class="text-base">1,257</span> KYC documents.</p>
            </div>
        </div>
        <div class="nk-block-head-content">
            <a href="#" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>
            <a href="#" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-download-cloud"></em></a>
        </div>
    </div>
</div><!-- .nk-block-head -->
<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner position-relative">
                <div class="card-title-group">
                    <div class="card-tools">
                    </div>
                    <div class="card-tools mr-n1">
                        <ul class="btn-toolbar gx-1">
                            <li>
                                <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                            </li>
                            <li class="btn-toolbar-sep"></li>
                            <li>
                                <div class="dropdown">
                                    <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-toggle="dropdown">
                                        <div class="dot dot-primary"></div>
                                        <em class="icon ni ni-filter-alt"></em>
                                    </a>
                                    <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-right">
                                        <div class="dropdown-head">
                                            <span class="sub-title dropdown-title">Filter Document</span>
                                        </div>
                                        <div class="dropdown-body dropdown-body-rg">
                                            <div class="row gx-6 gy-3">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label class="overline-title overline-title-alt">Doc Type</label>
                                                        <select class="form-select form-select-sm">
                                                            <option value="any">Any Type</option>
                                                            <option value="nidcard">Nidcard</option>
                                                            <option value="passport">Passport</option>
                                                            <option value="driving">Driving</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label class="overline-title overline-title-alt">Status</label>
                                                        <select class="form-select form-select-sm">
                                                            <option value="any">Any Status</option>
                                                            <option value="approved">Approved</option>
                                                            <option value="pending">Pending</option>
                                                            <option value="suspend">Rejected</option>
                                                            <option value="deleted">Deleted</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-secondary">Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-foot between">
                                            <a class="clickable" href="#">Reset Filter</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-toggle="dropdown">
                                        <em class="icon ni ni-setting"></em>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                                        <ul class="link-check">
                                            <li><span>Show</span></li>
                                            <li class="active"><a href="#">10</a></li>
                                            <li><a href="#">20</a></li>
                                            <li><a href="#">50</a></li>
                                        </ul>
                                        <ul class="link-check">
                                            <li><span>Order</span></li>
                                            <li class="active"><a href="#">DESC</a></li>
                                            <li><a href="#">ASC</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- .card-tools -->
                </div><!-- .card-title-group -->
                <div class="card-search search-wrap" data-search="search">
                    <div class="card-body">
                        <div class="search-content">
                            <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or id">
                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                        </div>
                    </div>
                </div><!-- .card-search -->
            </div><!-- .card-inner -->
            <div class="card-inner p-0">
                <div class="nk-tb-list nk-tb-ulist">
                    <div class="nk-tb-item nk-tb-head">
                        <div class="nk-tb-col nk-tb-col-check">
                            @*<div class="custom-control custom-control-sm custom-checkbox notext">
                    <input type="checkbox" class="custom-control-input" id="uid">
                    <label class="custom-control-label" for="uid"></label>
                </div>*@
                        </div>
                        <div class="nk-tb-col"><span>Kullanıcı</span></div>
                        <div class="nk-tb-col tb-col-mb"><span>Döküman Tipi</span></div>
                        <div class="nk-tb-col tb-col-md"><span>Dökümanlar</span></div>
                        <div class="nk-tb-col tb-col-lg"><span>Talep Tarihi</span></div>
                        <div class="nk-tb-col tb-col-md"><span>Durum</span></div>
                        <div class="nk-tb-col tb-col-lg"><span>Değerlendiren</span></div>
                        <div class="nk-tb-col nk-tb-col-tools">&nbsp;</div>
                    </div><!-- .nk-tb-item -->


                    @for (int i = 0; i < Model.Count; i++)
                    {
                        ExpenseManagement.Schema.ExpenseResponse viewModel = Model[i];
                        string nameSurname = (viewModel.UserName.Split(" ")[0][0]).ToString().ToUpper() + viewModel.UserName.Split(" ")[1][0].ToString().ToUpper();
                        string reviewNameSurname = "";
                        if (viewModel.ReviewByUserName != null)
                        {
                            reviewNameSurname = (viewModel.ReviewByUserName.Split(" ")[0][0]).ToString().ToUpper() + viewModel.ReviewByUserName.Split(" ")[1][0].ToString().ToUpper();
                        }
                        

                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                @*<div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid2">
                                    <label class="custom-control-label" for="uid2"></label>
                                </div>*@
                            </div>
                            <div class="nk-tb-col">
                                <div class="user-card">
                                    <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                        <span>@nameSurname</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="tb-lead">@viewModel.UserName<span class="dot dot-success d-md-none ml-1"></span></span>
                                        <span>@viewModel.UserEmail</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span class="tb-lead-sub">örnek döküman</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <ul class="list-inline list-download">
                                    @*@if (viewModel.ExpenseDocuments != null)
                                    {
                                        foreach (var document in viewModel.ExpenseDocuments)
                                        {
                                            <li>@document.FileType <a href="#" class="popup"><em class="icon ni ni-download"></em></a></li>
                                        }
                                    }*@

                                </ul>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="tb-date">@viewModel.RequestDate</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                @if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Pending)
                                {
                                    <span class="tb-status text-warning">Beklemede</span>
                                }
                                else if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Rejected)
                                {
                                    <span class="tb-status text-alert">Reddedildi</span>
                                    <span data-toggle="tooltip" title="@viewModel.ReviewDate" data-placement="top"><em class="icon ni ni-info"></em></span>
                                }
                                else if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Approved)
                                {
                                    <span class="tb-status text-success">Approved</span>
                                    <span data-toggle="tooltip" title="@viewModel.ReviewDate" data-placement="top"><em class="icon ni ni-info"></em></span>
                                }
                                else if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Paid)
                                {
                                    <span class="tb-status text-success">Ödendi</span>
                                }
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                @if (!string.IsNullOrEmpty(viewModel.ReviewByUserName))
                                {
                                    <div class="user-card">
                                        <div class="user-avatar user-avatar-xs bg-orange-dim">
                                            <span>@reviewNameSurname</span>
                                        </div>
                                        <div class="user-name">
                                            <span class="tb-lead">@viewModel.ReviewByUserName</span>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden">
                                        <a href="html/kyc-details-regular.html" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                                            <em class="icon ni ni-eye-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Approved">
                                            <em class="icon ni ni-check-fill-c"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Rejected">
                                            <em class="icon ni ni-cross-fill-c"></em>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="html/kyc-details-regular.html"><em class="icon ni ni-focus"></em><span>Hızlı Görünüm</span></a></li>
                                                    <li><a href="html/kyc-details-regular.html"><em class="icon ni ni-eye"></em><span>Detaylar</span></a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><em class="icon ni ni-check-round"></em><span>Onayla</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-na"></em><span>Reddet</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                    }

                </div>
            </div><!-- .card-inner -->
            <div class="card-inner">
                <ul class="pagination justify-content-center justify-content-md-start">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul><!-- .pagination -->
            </div><!-- .card-inner -->
        </div><!-- .card-inner-group -->
    </div><!-- .card -->
</div><!-- .nk-block -->
