@model List<ExpenseManagement.Schema.ExpenseResponse>

    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Data Table</h4>
                <div class="nk-block-des">
                    <p>Using the most basic table markup, here’s how <code class="code-class">.table</code> based tables look by default.</p>
                </div>
            </div>
        </div>
        <div class="card card-preview">
            <div class="card-inner">
                <table class="datatable-init nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                    <thead>
                        <tr class="nk-tb-item nk-tb-head">
                            <th class="nk-tb-col nk-tb-col-check">
                                @*<div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>*@
                            </th>
                            <th class="nk-tb-col"><span class="sub-text">Kullanıcı</span></th>
                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Miktar</span></th>
                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Konum</span></th>
                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Kategori</span></th>
                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Talep Tarihi</span></th>
                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Durum</span></th>
                            <th class="nk-tb-col nk-tb-col-tools text-right">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            ExpenseManagement.Schema.ExpenseResponse viewModel = Model[i];
                            string nameSurname = (viewModel.UserName.Split(" ")[0][0]).ToString().ToUpper() +  viewModel.UserName.Split(" ")[1][0].ToString().ToUpper();
                           
                            <tr class="nk-tb-item">
                                <td class="nk-tb-col nk-tb-col-check">
                                    @*<div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid1">
                                        <label class="custom-control-label" for="uid1"></label>
                                    </div>*@
                                </td>
                                <td class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                            <span>@nameSurname</span>
                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">@viewModel.UserName <span class="dot dot-success d-md-none ml-1"></span></span>
                                            <span>@viewModel.UserEmail</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                    <span class="tb-amount">@viewModel.Amount <span class="currency">TL</span></span>
                                </td>
                                <td class="nk-tb-col tb-col-md">
                                    <span>@viewModel.Location</span>
                                </td>
                                <td class="nk-tb-col tb-col-lg" data-order="Email Verified - Kyc Unverified">
                                    <span>@viewModel.CategoryName</span>
                                </td>
                                <td class="nk-tb-col tb-col-lg">
                                    <span>@viewModel.RequestDate.ToShortDateString()</span>
                                </td>
                                <td class="nk-tb-col tb-col-md">
                                    @if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Pending)
                                    {
                                        <span class="tb-status text-warning">Beklemede</span>
                                    }
                                    else if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Rejected)
                                    {
                                        <span class="tb-status text-alert">Reddedildi</span>
                                    }
                                    else if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Approved)
                                    {
                                        <span class="tb-status text-success">Onaylandı</span>
                                    }
                                    else if (viewModel.Status == ExpenseManagement.Schema.Enums.ExpenseStatus.Paid)
                                    {
                                        <span class="tb-status text-success">Ödendi</span>
                                    }
                                </td>
                                <td class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1">
                                        @*<li class="nk-tb-action-hidden">
                                            <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Wallet">
                                                <em class="icon ni ni-wallet-fill"></em>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action-hidden">
                                            <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Send Email">
                                                <em class="icon ni ni-mail-fill"></em>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action-hidden">
                                            <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Suspend">
                                                <em class="icon ni ni-user-cross-fill"></em>
                                            </a>
                                        </li>*@
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><em class="icon ni ni-focus"></em><span>Hızlı Görünüm</span></a></li>
                                                        <li><a href="#"><em class="icon ni ni-eye"></em><span>Detayları Görüntüle</span></a></li>
                                                        <li><a href="#"><em class="icon ni ni-repeat"></em><span>Ödeme Detay</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr><!-- .nk-tb-item  -->
                        }

                    </tbody>
                </table>
            </div>
        </div><!-- .card-preview -->
    </div> <!-- nk-block -->
